<div class="container">
  <div class="row" style="background:white;opacity:0.75;" align="center">
    <div align="center" class="col-sm-5 col-md-4 col-lg-5 layout-pf">
      <img src="../../assets/logo-alt.svg" style="width:100%">
    </div>
    <!-- link to github for Stackbutton's source code -->
    <div align="left" class="col-sm-5 col-md-8 col-lg-7 details">
      <br><br><br>
      <p align="center">
        <strong>Stackbutton</strong> is an Open Source project.
      </p>
      <p>
       To contribute to this project simply <a href="https://github.com/cloudcompass/stackbutton"> click here </a>
        to download the source code from <a href="https://github.com/cloudcompass/stackbutton">GitHub</a>!
      </p>

    </div>

  </div>
</div>
