<!DOCTYPE html>
<html class="no-js" ng-app="sbapp">
<head>
  <title><%= typeof title == 'undefined' ? 'StackButton' : title %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->

  <!--STYLES-->
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="/bower_components/nvd3/build/nv.d3.css">
  <link rel="stylesheet" href="/bower_components/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/styles/iconfont/material-icons.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body ng-controller="ApplicationController">
<%- body %>


<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<!--SCRIPTS-->
<script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/bower_components/d3/d3.min.js"></script>
<script src="/bower_components/nvd3/build/nv.d3.min.js"></script>
<script src="/bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/angular-messages/angular-messages.min.js"></script>
<script src="/bower_components/angular-material/angular-material.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
<script src="/app/app.js"></script>
<script src="/app/components/directives/activityGroup.js"></script>
<script src="/app/components/directives/panelWidget.js"></script>
<script src="/app/components/directives/projectCard.js"></script>
<script src="/app/components/services/ActivitiesService.js"></script>
<script src="/app/components/services/AuthService.js"></script>
<script src="/app/components/services/NavService.js"></script>
<script src="/app/components/services/ProjectService.js"></script>
<script src="/app/components/services/RepositoryService.js"></script>
<script src="/app/components/services/ToolService.js"></script>
<script src="/app/controllers/ActivitiesController.js"></script>
<script src="/app/controllers/ApplicationController.js"></script>
<script src="/app/controllers/AuthController.js"></script>
<script src="/app/controllers/CreateController.js"></script>
<script src="/app/controllers/DashboardController.js"></script>
<script src="/app/controllers/EditProjectController.js"></script>
<script src="/app/controllers/IssuesController.js"></script>
<script src="/app/controllers/MainController.js"></script>
<script src="/app/controllers/ProfileController.js"></script>
<script src="/app/controllers/TeamController.js"></script>
<script src="/app/controllers/ToolController.js"></script>
<script src="/app/controllers/VCSController.js"></script>
<script src="/app/controllers/projectController.js"></script>
<!--SCRIPTS END-->
</body>
</html>
