<div class="col-xs-24 col-sm-12 col-lg-12">
  <div class="card-pf">
    <div *ngIf="routeData">
      <div style="background:lightblue"> <!-- Temp style to be removed -->
        <p>v <strong>{{appName.toUpperCase()}}</strong> - []^ <a>{{host}}</a></p>
      </div>
      <div *ngFor="let service of services">
        <app-openshift-service [projectName]="projectName"
                               [name]="service.metadata.name"></app-openshift-service>
      </div>
    </div>
    <div *ngIf="!routeData">
      <p>Loading Router Data...</p>
    </div>
  </div>
</div>
