<div class="cards-pf">
  <div class="container-fluid" >
    <div class="row row-cards-pf">
      <div class="col-md-12 card-pf">
        <div class="card-pf-heading">
          <h2 class="card-pf-title">
            Add an API key
          </h2>
        </div>

        <!-- API Key submission form -->
        <form class="form-horizontal" [formGroup]="apiForm" (ngSubmit)="apikeyFormSubmit($event)">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="source">Source</label>
            <select id="source" formControlName="source">
              <option value="" disabled>Choose a source</option>
              <option *ngFor="let source of sources" [value]="source">{{source}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="apikey">API Key</label>
            <div class="col-sm-8">
              <input type="text" id="apikey" class="form-control" formControlName="apikey">
              <button type="submit" class="btn btn-primary" [disabled]="apiForm.invalid">Add Key</button>
            </div>
          </div>
          <div>
            <p>Debug</p>
            <p>Value: {{ apiForm.value | json }}</p>
            <p>Status: {{ apiForm.status }}</p>
          </div>
          <hr>
        </form><!-- End apiForm -->

        <!-- Project Selection Form -->
        <form *ngIf="showProjectForm" class="form-horizontal" [formGroup]="projectForm" (ngSubmit)="projectFormSubmit($event)">
          <h2>Select a project</h2>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="apikey">Project</label>
            <select formControlName="project">
              <option value="" disabled>Choose a project</option>
              <option *ngFor="let project of projects" [value]="project">{{project}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid">Submit</button>
          </div>
          <hr>
        </form><!-- end projectForm -->


        <!-- Data Source Editor Form -->
        <form *ngIf="showEditForm" class="form-horizontal" [formGroup]="editForm" (ngSubmit)="editFormSubmit($event)">
          <h2>Add details</h2>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="projectNameInput">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="projectNameInput" class="form-control" formControlName="projectName" placeholder="Stackbutton">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="projectTeamInput">Team Name</label>
            <div class="col-sm-8">
              <input type="text" id="projectTeamInput" class="form-control" formControlName="teamName" placeholder="BamDev">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="teamMembersInput">Team Members</label>
            <div class="col-sm-8">
              <input type="text" id="teamMembersInput" class="form-control" formControlName="teamMembers" placeholder="Lee Combs, Curtis LayCraft, Sheryll Tabamo">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="projectTagsInput">Tags</label>
            <div class="col-sm-8">
              <input type="text" id="projectTagsInput" class="form-control" formControlName="tags" placeholder="(Optional) Victoria, IDPISPOPD, yoyo">
            </div>
          </div>

          <div>
            <p>Debug</p>
            <p>Value: {{ editForm.value | json }}</p>
            <p>Status: {{ editForm.status }}</p>
          </div>

          <div>
            <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Add Data Source</button>
          </div>
          <hr>
        </form><!-- End editForm -->

        <!--
        <hr>
        <form class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="api-chooser-2">Source</label>
            <div class="col-sm-10">
              <select id="api-chooser-2" class="selectpicker">
                <option>OpenShift</option>
                <option>Github</option>
                <option disabled>Slack</option>
                <option disabled>BitBucket</option>
              </select>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="api-key">API Key</label>
            <div class="col-sm-10">
              <input type="text" id="api-key" class="form-control">
              <button type="submit" class="btn btn-primary">Add Key</button>
            </div>
          </div>
          <hr>

          <div class="form-group">
            <h2 class="col-sm-12 card-pf-subtitle">Github Options (contextually appears)</h2>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="repo-chooser">Repo</label>

            <div class="col-sm-10">
              <select id="repo-chooser" class="selectpicker">
                <option>Stackbutton</option>
                <option>DocTracker</option>
                <option>ReportGenerator</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <h2 class="col-sm-12">Tag the data source</h2>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="project-name-input">Project Name</label>
            <div class="col-sm-10">
              <input type="text" id="project-name-input" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="team-name-input">Team Name</label>
            <div class="col-sm-10">
              <input type="text" id="team-name-input" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="team-members-input-csv">Team members</label>
            <div class="col-sm-10">
              <input type="text" id="team-members-input-csv" class="form-control" value="e.g.  Curtis, Lee, Sheryll...">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="tag-input-csv">Tags</label>
            <div class="col-sm-10">
              <input type="text" id="tag-input-csv" class="form-control" value="e.g.  yoyo, IDPISPOPD, Gorilla">
            </div>
          </div>
          <hr>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-datasource"></label>
            <button type="submit" id="add-datasource" class="btn btn-primary">Add Datasource</button>
          </div>
          <p class="card-pf-subtitle">You will also be able to modify this later.</p>

        </form>
        -->
      </div>
    </div>
  </div>
</div>

