<div class="cards-pf">
  <div class="container-fluid" >
    <div class="row row-cards-pf ">
      <div class="col-md-12 card-pf">
        <div class="card-pf-heading">
          <h2 class="card-pf-title">
            Add an API key
          </h2>
        </div>
        <form class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="api-chooser">Source</label>
            <div class="col-sm-10">
              <select id="api-chooser" class="selectpicker">
                <option>OpenShift</option>
                <option>Github</option>
                <option disabled>Slack</option>
                <option disabled>BitBucket</option>
              </select>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="api-key">API Key</label>
            <div class="col-sm-10">
              <input type="text" id="api-key" class="form-control">
              <button type="submit" class="btn btn-primary">Add Key</button>
            </div>
          </div>
          <hr>

          <div class="form-group">
            <h2 class="col-sm-12 card-pf-subtitle">Github Options (contextually appears)</h2>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="repo-chooser">Repo</label>

            <div class="col-sm-10">
              <select id="repo-chooser" class="selectpicker">
                <option>Stackbutton</option>
                <option>DocTracker</option>
                <option>ReportGenerator</option>
                <!--<option disabled>Onions</option>-->
              </select>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <h2 class="col-sm-12">Tag the data source</h2>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="project-name-input">Project Name</label>
            <div class="col-sm-10">
              <input type="text" id="project-name-input" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="team-name-input">Team Name</label>
            <div class="col-sm-10">
              <input type="text" id="team-name-input" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="team-members-input-csv">Team members</label>
            <div class="col-sm-10">
              <input type="text" id="team-members-input-csv" class="form-control" value="e.g.  Curtis, Lee, Sheryll...">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="tag-input-csv">Tags</label>
            <div class="col-sm-10">
              <input type="text" id="tag-input-csv" class="form-control" value="e.g.  yoyo, IDPISPOPD, Gorilla">
            </div>
          </div>
          <hr>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-datasource"></label>
            <button type="submit" id="add-datasource" class="btn btn-primary">Add Datasource</button>
          </div>
          <p class="card-pf-subtitle">You will also be able to modify this later.</p>

        </form>
      </div>

    </div>

  </div>
</div>

