<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">StackButton is the tool you need to reduce the time you spend setting up and managing tools and environments for your development projects.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
