<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes wow bounceIn text-primary"></i>
                    <h3>Your Own Stack</h3>
                    <p class="text-muted">You choose the set of tools you want to use.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Wicked Fast</h3>
                    <p class="text-muted">Stand up and configure your favourite services faster than you ever imagined.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-recycle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Rinse and Repeat</h3>
                    <p class="text-muted">All of your stack configurations are stored and versioned so you can easily reuse them across projects. You can even share your stack to impress your friends and neighbours.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dashboard bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Keep an Eye on Things</h3>
                    <p class="text-muted">StackButton provides a single place to see what's happening across an entire stack.</p>
                </div>
            </div>
        </div>
    </div>
</section>
