<div class=" " style="background: url('../assets/jumbotron.jpg') no-repeat fixed top center; ">

<nav class="navbar navbar-default navbar-pf" role="navigation" style="background: none;">

  <!-- navbar header -->
  <div class="navbar-header" style="float: left;">
    <a class="navbar-brand" href="#">
      <img class="navbar-brand-icon" src="../../assets/logo-alt.svg" height= "45px" alt="StackButton Logo"
           style="float: left; padding-right: 10px;"/>
      <img class="navbar-brand-name" src="../../assets/brand-alt.svg" height= "40px" alt="StackButton" style="float: left;" />
    </a>
  </div><!-- /header -->

  <!-- navbar body -->
    <div class="navbar-collapse navbar-collapse-pf-site collapse">
      <ul id="menu-primary" class="nav navbar-nav navbar-right">
        <li>
          <a href="/download/">GitHub</a>
        </li>
        <li>
          <a href="/login/">Login</a>
        </li>
        <li>
          <a href="/register/">Register</a>
        </li>
      </ul>
  </div>
</nav>
  <div class="jumbotron" style="height: 600px; background: none;" >
    <div class="container-fluid">
      <div class="splash">
        <div class="content" class="layout-align-center">
          <img src="../assets/logo-alt.svg" alt="StackButton logo"  width="320px" style="visibility: visible; animation-name: fadeInDown;">
        </div>
      </div>
    </div>
  </div>


</div>
<!--<app-login></app-login>-->
<!--<app-registration></app-registration>-->
