<div class=" " style="background: #000000 url('../../assets/jumbotron.jpg') no-repeat fixed top center; ">

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-pf" role="navigation" style="background: none; border:none;">
    <!-- navbar header -->
    <div class="navbar-header" style="background: none; border:none;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="navbar-brand-icon" src="../../assets/logo-alt.svg" height= "45px" alt="StackButton Logo"
             style="float: left; padding-right: 10px;"/>
        <h1 class="navbar-brand-name" style="float: left; margin-top: 10px;">stackbutton</h1>
      </a>
    </div><!-- /header -->

    <!-- navbar body -->
    <div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="false" style="height: 0px;">
      <!-- Main navbar links to components -->
      <ul class="nav navbar-nav navbar-primary navbar-utility">
        <li>
          <a [routerLink]="[{outlets: { splash: ['login']}}]">Login</a>
        </li>
        <li>
          <a [routerLink]="[{outlets: { splash: ['registration']}}]">Register</a>
        </li>
        <li>
          <a [routerLink]="[{outlets: { splash: ['download']}}]">Download</a>
        </li>
      </ul><!-- /navbar links -->
    </div><!-- /navbar body -->
  </nav> <!-- End navbar -->

  <!-- The internal named router for login, registration, and download -->
  <div class="jumbotron" style="height: auto; background: none;" >
    <router-outlet name="splash"></router-outlet>
  </div>
</div>

<!-- 'Body' of the page. -->
<!-- Shows information about Stackbutton and it's underlying technologies -->
<!--<div class="container-fluid">
  <h2>What is StackButton?</h2>
  <p>
    Leverage agile frameworks to provide a robust synopsis for high level overviews.
    Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
    Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
  </p>
</div>
-->
<div class="-arrow-down" data-wow-delay="2000ms" style="visibility: visible; animation-delay: 2000ms; animation-name: fadeIn;">
  <a href="#section01"><i class="fa fa-cart-arrow-down"></i></a>
</div>

<div class="about" id="section01">
  <div class="container-fluid">
    <h2>What is StackButton?</h2>
    <p>
      Stackbutton is designed for DevOps and delivers an easy-to-deploy, central monitoring system for cloud-based services.
    </p>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3" align="center">
        <a href="https://nodejs.org/en/">
          <img src="../../assets/nodejs.png" alt="NodeJS" />
        </a>
        <h3>NodeJS</h3>
        <p>
          <a href="https://nodejs.org/en/">NodeJS</a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3" align="center">
        <a href="http://angular.io">
          <img src="../../assets/angular.png" alt="Angular" />
        </a>
        <h3>Angular</h3>
        <p>
          <a href="http://angular.io">Angular</a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3" align="center">
        <a href="http://www.openshift.com">
          <img src="../../assets/openshift.png" alt="OpenShift" />
        </a>
        <h3>OpenShift</h3>
        <p>
          <a href="http://www.openshift.com">OpenShift</a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3" align="center">
        <a href="http://github.com">
          <img src="../../assets/github.png" alt="Styles icon" />
        </a>
        <h3>GitHub</h3>
        <p>
          <a href="http://github.com">GitHub</a>
        </p>
      </div>
    </div>
  </div>

</div>
