
<!-- <div style="float: left;"> -->
<div style="container-fluid container-cards-pf container-pf-nav-pf-vertical">
  <div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>This is the Dashboard</p>
    <p>Add widgets/modules/whatever using the menus to the left (which don't do anything now)</p>
    <p>User account/info/etc in the top nav bar</p>
    <p>Widgets go in the body here</p>
    <p>The logo in the navbar goes to landing page</p>
    <p>All registered users:</p>
    <ul>
      <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)">Delete</a>
      </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
  </div>

  <div class="nav-pf-vertical nav-pf-vertical-with-sub-menus">
    <ul class="list-group">
      <li class="list-group-item">
        <a>
          <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
          <span class="list-group-item-value">Dashboard</span>
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <span class="fa fa-shield" data-toggle="tooltip" title="Dolor"></span>
          <span class="list-group-item-value">Dolor</span>
        </a>
      </li>
      <li class="list-group-item active " data-target="#ipsum-secondary">
        <a>
          <span class="fa fa-space-shuttle" data-toggle="tooltip" title="Ipsum"></span>
          <span class="list-group-item-value">Ipsum</span>
        </a>
      </li>
      <li class="list-group-item " data-target="#amet-secondary">
        <a>
          <span class="fa fa-paper-plane" data-toggle="tooltip" title="Amet"></span>
          <span class="list-group-item-value">Amet</span>
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <span class="fa fa-graduation-cap" data-toggle="tooltip" title="Adipscing"></span>
          <span class="list-group-item-value">Adipscing</span>
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <span class="fa fa-gamepad" data-toggle="tooltip" title="Lorem"></span>
          <span class="list-group-item-value">Lorem</span>
        </a>
      </li>
      <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block" data-target="#amet-secondary">
        <a>
          <span class="pficon pficon-user" data-toggle="tooltip" title="" data-original-title="User"></span>
          <span class="list-group-item-value">User</span>
        </a>
        <div id="user-secondary" class="nav-pf-secondary-nav">
          <div class="nav-item-pf-header">
            <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
            <span>User</span>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a>
                <span class="list-group-item-value">Preferences</span>
              </a>
            </li>
            <li class="list-group-item">
              <a>
                <span class="list-group-item-value">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block" data-target="#amet-secondary">
        <a>
          <span class="pficon pficon-help" data-toggle="tooltip" title="" data-original-title="Amet"></span>
          <span class="list-group-item-value">Help</span>
        </a>
        <div id="help-secondary" class="nav-pf-secondary-nav">
          <div class="nav-item-pf-header">
            <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
            <span>Help</span>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a>
                <span class="list-group-item-value">Help</span>
              </a>
            </li>
            <li class="list-group-item">
              <a>
                <span class="list-group-item-value">About</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>


</div>
