<!-- main app container -->
<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <img class="navbar-brand-icon" src="../assets/logo-alt.svg" alt="" height="40px"/><img class="navbar-brand-name" src="../assets/brand-alt.svg" height="40px" alt="PatternFly Enterprise Application" />
    </a>
  </div>
</nav><!-- /navbar -->
<!--<app-horizontal-navigation></app-horizontal-navigation>-->
<!--<app-vertical-navigation></app-vertical-navigation>-->
<div>
  <alert></alert>
  <router-outlet></router-outlet>
</div>
