<!-- main app container -->


<!--This view is for an empty version of SB-->
<!--<app-horizontal-navigation></app-horizontal-navigation>-->
<!--<app-emptystate></app-emptystate>-->


<!--This view is to represent the application viewing the dashboard.-->
<!--<app-horizontal-navigation></app-horizontal-navigation>-->
<!--<app-dashboard></app-dashboard>-->

<!--The status board is the place for all the cards. I didn't call it dashboard because the prototype is less obstructed.-->
<!--<app-status-board></app-status-board>-->


<!-- To be active when page routing is wanted -->
<!--<router-outlet></router-outlet>-->


<!----------------------------------Curtis' stuff below please leave but comment it----------------------------------->

<!--This view is for an empty version of SB-->
<!--<body>-->
<!--<app-horizontal-navigation></app-horizontal-navigation>-->
<!--<alert></alert>-->
<!--<app-emptystate></app-emptystate>-->
<!--</body>-->


<!--this view is to represent the application viewing the dashboard.-->
<body>
<app-horizontal-navigation></app-horizontal-navigation>
<alert></alert>
<!--<app-dashboard></app-dashboard>-->
<!--The status board is the place for all the cards. I didn't call it dashboard because the prototype is less obstructed.-->
<app-status-board></app-status-board>
</body>



<!--A future view.-->
<!--<body>-->
<!--<app-horizontal-navigation></app-horizontal-navigation>-->
<!--<alert></alert>-->
<!--&lt;!&ndash;<app-dashboard></app-dashboard>&ndash;&gt;-->
<!--&lt;!&ndash;The status board is the place for all the cards. I didn't call it dashboard because the prototype is less obstructed.&ndash;&gt;-->
<!--<app-status-board></app-status-board>-->
<!--</body>-->



<!--<router-outlet></router-outlet>-->
