
<html class="layout-pf layout-pf-fixed">
<head>
  <!--<script src="../../node_modules/patternfly/dist/less/dependencies/c3/c3.min.js"></script>-->
  <!--<script src="../../node_modules/patternfly/dist/less/dependencies/d3/d3.min.js"></script>-->
  <!--<script src="../../node_modules/components/jquery-match-height/dist/jquery.matchHeight-min.js"></script>-->
  <!--<script src="../../node_modules/patternfly/dist/js/patternfly.min.js" height="60px"></script>-->
  <link rel="stylesheet" href="../../node_modules/patternfly/dist/css/patternfly.min.css">
  <link rel="stylesheet" href="../../node_modules/patternfly/dist/css/patternfly-additions.min.css">
</head>
<body>



















<app-nav-horizontal></app-nav-horizontal>
<app-nav-vertical></app-nav-vertical>
<app-blank-state></app-blank-state>
<!--<app-dashboard></app-dashboard>-->
</body>
</html>
