<h1>Current page index: {{vm.currentPage}}/{{vm.pageCount}}</h1>
<md-card>
  <md-card-content>
    <!-- Page 0 - Tool Choice -->
    <div ng-show="vm.currentPage == 0">
      Choose a service:

      <h4 ng-repeat-start="module in vm.modules">{{module.display}}</h4>
      <div layout="row" layout-align="center start" layout-wrap>
        <md-button layout="column" ng-repeat="tool in vm.tools[module.name]"
                   ng-click="vm.selectTool(module.name, tool)">
          {{tool.name}}
          <img src={{tool.image}} style="max-height: 50px; max-width: 50px;">
        </md-button>
      </div>

      <md-divider ng-repeat-end=""></md-divider>

    </div>

    <!--Further pages injected here-->
    <div ng-include="vm.templatePath"></div>

  </md-card-content>

</md-card>
