<md-card layout="column" layout-align="center center">
  <p class="md-headline"> Create Project </p>
  <!-- Create project form -->
  <md-card-content>
    <form name="userForm" layout="row" layout-align="space-around center">
      <!--Project name container and error message -->
      <md-input-container>
        <label>Project Name</label>
        <input name="projectName" type="text" ng-model="projectName">
        <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>

      <!-- Project description container and error message -->
      <md-card-content>
        <md-input-container>
          <label>Description</label>
        <textarea name="projectDescription" type="text" ng-model="projectDescription" required md-maxlength="50"></textarea>
          <div ng-message="required">This is required!</div>
        </md-input-container>
      </md-card-content>
    </form>
  </md-card-content>

  <!-- Actions-->
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-warn" ui-sref="home.projects">Cancel</md-button>
    <md-button class="md-primary" ng-click="vm.addProject(vm.projectName, vm.projectDescription)"> Create </md-button>
  </md-card-actions>
</md-card>
