<md-content class="md-padding md-whiteframe-2dp" layout="column" layout-align="center center" layout-margin>
  <p class="md-headline">Create Project</p>
  <!-- Create project form -->
  <form name="projectForm" ng-submit="vm.addProject(vm.projectName, vm.projectDescription)">

    <!--Project name container and error message -->
    <md-input-container>
      <label>Project Name</label>
      <input name="projectName" type="text" ng-model="vm.projectName" md-minlength="3" md-maxlength="30">
      <div ng-messages="projectForm.projectName.$error" required ng-show="projectForm.projectName.$dirty">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>

    <!-- Project description container and error message -->

    <md-input-container>
      <label>Description</label>
          <textarea name="projectDescription" type="text" ng-model="vm.projectDescription" required
                    md-maxlength="100"></textarea>
      <div ng-messages="projectForm.projectDescription.$error" ng-show="projectForm.projectDescription.$dirty">
        <div ng-message="required">This is required!</div>
      </div>
    </md-input-container>

    <!-- Actions-->
    <div layout="row" layout-align="center start">
      <button class="md-button md-raised" ui-sref="home.projects">Cancel</button>
      <button class="md-button md-raised md-accent" ng-disabled="projectForm.$invalid || projectForm.$submitted"
              type="submit">
        <md-progress-linear class="md-accent" ng-show="projectForm.$submitted"></md-progress-linear>
        <span ng-hide="projectForm.$submitted">Create</span>
      </button>
    </div>
  </form>
</md-content>
