
<!-- Visual representation of what the Dashboard could look like -->
<div layout="row" layout-align="center start" layout-wrap>
  <!--<panel-widget flex title="GitHub Commits" template="app/views/widget/repo/commits.html"></panel-widget>-->
  <!--<panel-widget  flex title="Contributors" template="app/views/widget/repo/contributors.html"></panel-widget>-->
  <!--<panel-widget  flex title="Branches" template="app/views/widget/repo/branches.html"></panel-widget>-->
  <!--<panel-widget  flex title="Current Tasks"></panel-widget>-->
  <!--<panel-widget  flex title="Issue Board"></panel-widget>-->
  <!--<panel-widget  flex title="Days Left"></panel-widget>-->
  <!--<panel-widget  flex title="Server Status"></panel-widget>-->
  <!--<panel-widget  flex title="Current Team Members Online"></panel-widget>-->
  <div layout="row" layout-align="start start" layout-wrap ng-repeat="widget in vm.widgets">
    <panel-widget flex widget="widget"></panel-widget>
  </div>
</div>
<div layout="row" layout-align="center start" >
  <md-menu>
    <md-button class="md-raised md-primary" ui-sref="home.addtool">
      <span class="material-icons md-48">add</span>
      <span>Click me to add a Widget</span>
    </md-button>
    <md-menu-content>
      <md-menu-item><md-checkbox ng-click="doSomething()">Monitor</md-checkbox></md-menu-item>
      <md-menu-item><md-checkbox ng-click="doSomething()">Tasks</md-checkbox></md-menu-item>
      <md-menu-item><md-checkbox ng-click="doSomething()">Server</md-checkbox></md-menu-item>
    </md-menu-content>
  </md-menu>
</div>




<!-- orignial dashboard
<div layout-gt-md="row" layout-align="start center">
  <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html"
                class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="app/views/partials/warnings.html"
                class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="app/views/partials/memory.html"
                class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row" layout-align="center center">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html"
                class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html"
                class="fixed-height-widget"></panel-widget>
</div>
<!-- orignial dashboard
<div layout-gt-md="row">
  <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
  <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
</div>
-->
