
<!-- Visual representation of what the Dashboard could look like -->
<div layout-gt-md="row" layout-align="center start" layout-wrap>
  <panel-widget style="min-width: 500px; min-height: 200px" flex title="GitHub Changes"></panel-widget>
  <panel-widget style="min-width: 500px; min-height: 200px" flex title="Stack Messages"></panel-widget>
  <panel-widget style="min-width: 500px; min-height: 200px"  flex title="Calendar"></panel-widget>
  <panel-widget style="min-width: 500px; min-height: 200px" flex title="Current Tasks"></panel-widget>
  <panel-widget style="min-width: 500px; min-height: 200px"  flex title="Issue Board"></panel-widget>
  <panel-widget style="min-width: 500px; min-height: 200px"  flex title="Days Left"></panel-widget>
  <panel-widget style="min-width: 500px; min-height: 200px"  flex title="Server Status"></panel-widget>
  <panel-widget style="min-width: 500px; min-height: 200px"  flex title="Current Team Members Online"></panel-widget>
</div>
<div layout-gt-md="row" layout-align="center start" >
  <md-menu>
    <md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">
      <span class="material-icons md-48">add</span>
      <span>Click me to add a Widget</span>
    </md-button>
    <md-menu-content>
      <md-menu-item><md-button ng-click="doSomething()">Clock</md-button></md-menu-item>
      <md-menu-item><md-button ng-click="doSomething()">Monitor</md-button></md-menu-item>
      <md-menu-item><md-button ng-click="doSomething()">Tasks</md-button></md-menu-item>
      <md-menu-item><md-button ng-click="doSomething()">Server</md-button></md-menu-item>
    </md-menu-content>
  </md-menu>





<!-- orignial dashboard
<div layout-gt-md="row" layout-align="start center">
  <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html"
                class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="app/views/partials/warnings.html"
                class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="app/views/partials/memory.html"
                class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row" layout-align="center center">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html"
                class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html"
                class="fixed-height-widget"></panel-widget>
</div>
<!-- orignial dashboard
<div layout-gt-md="row">
  <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
  <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
</div>
-->
