<div layout="row" layout-wrap layout-margin layout-align="center start">
  <md-progress-circular mode="indeterminate" ng-show="vm.loading" md-diameter="96"></md-progress-circular>



  <panel-widget ng-repeat="widget in vm.widgets" widget="widget"></panel-widget>

  <!-- Show image if no widgets are on dashboard -->
  <img ng-if="!vm.loading&&vm.widgets.length==0" class="noWidgets">


  <md-button class="md-fab md-fab-bottom-right" ui-sref="home.addwidget" aria-label="Add a widget">
    <i class="material-icons md-24">add</i>
  </md-button>
</div>
