<!-- toolbar up top with button back to landing-->
<div flex="100" layout="column">
  <div>
    <md-toolbar class="md-hue-3" md-theme="grey" md-tall layout="row" layout-align="space-between center">
      <div layout="row" layout-xs="column" ui-sref="welcome" class="button">
        <md-icon class="material-icons md-48">tag_faces</md-icon>
        <h2 hide-xs>StackButton</h2>
      </div>
    </md-toolbar>
  </div>

<!-- Login card with buttons -->
  <div layout="row" layout-align="center center" layout-padding>
    <md-card  md-whiteframe="24">
      <form>
        <md-card-content>
          <h2>Login</h2>

          <!-- Username box -->
          <md-input-container>
            <label for="userName">Username</label>
            <input id="userName" type="text" name="userName" ng-model="userName" ng-required md-autofocus>
            <div ng-messages="userForm.userName.$error">
              <div ng-message="required">Username is required</div>
            </div>
          </md-input-container>

          <!-- Password box -->
          <md-input-container>
            <label for="userPass">Password</label>
            <input id="userPass" name="userPass" type="password" ng-model="userPass" ng-required>
            <div ng-messages="userForm.userPass.$error">
              <div ng-message="required">Password is required</div>
            </div>
          </md-input-container>
        </md-card-content>

        <!-- Buttons-->
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="register" class="button">No account?</md-button>
            <md-button ui-sref="home.dashboard" class="button">Forgot Password?</md-button>
            <md-button ui-sref="home.dashboard" class="button" type="submit">Login</md-button>
          </md-card-actions>
      </form>
    </md-card>
  </div>
</div>
