<div ng-controller="AuthController as vm" class="page-content"
     flex="100" layout="column" layout-align="space-around center">
  <!-- Login card with buttons -->
  <md-card md-whiteframe="24">
    <!--StackButton toolbar with button back to landing -->
    <div>
      <md-toolbar class="md-hue-3" md-theme="grey" md-tall layout="row" layout-align="center center">
        <div layout="row" layout-xs="column" layout-align="center center">
          <img class="sb-logo sb-48px" ui-sref="welcome"/>
          <h2 hide-xs>StackButton</h2>
        </div>
      </md-toolbar>
    </div>

    <md-divider></md-divider>

    <!-- Login form -->
    <form name="loginForm">
      <md-card-title>
        <span class="md-headline">Login</span>
      </md-card-title>
      <md-card-content layout="row" layout-align="space-around center">

        <md-input-container>
          <label for="userName">Username</label>
          <input id="userName" type="text" name="text" ng-model="vm.login.user" required md-autofocus>
          <div ng-messages="loginForm.userName.$error">
            <div ng-message="required">Username is required</div>
          </div>
        </md-input-container>
        <!-- Password box -->
        <md-input-container>
          <label for="userPass">Password</label>
          <input id="userPass" name="userPass" type="password" ng-model="vm.login.password" required>
          <div ng-messages="loginForm.userPass.$error">
            <div ng-message="required">Password is required</div>
          </div>
        </md-input-container>

      </md-card-content>


      <!-- Buttons-->
      <md-card-actions layout="row" layout-align="space-between center">
        <div>
          <md-button ui-sref="register" class="button">No account?</md-button>
          <md-button ui-sref="home.dashboard" class="button">Forgot Password?</md-button>
        </div>
        <md-button ng-click="vm.authenticate(vm.login.user,vm.login.password)"
                   class="md-raised md-cornered md-primary">Login
        </md-button>
      </md-card-actions>
    </form>
  </md-card>
</div>
