<div layout="column" flex>
  <!-- Top bar begin -->
  <md-toolbar layout="row" layout-align="space-between center">
    <md-button layout="row" layout-align="start center" class="capitalize md-hue-3 md-raised md-cornered"
               ui-sref="welcome" md-theme="grey" hide-xs>
      <img class="sb-logo-detail sb-48px" ui-sref="welcome"/>
      <h1> StackButton</h1>
    </md-button>
    <!-- Hiding search and Notifications
    <md-button hide-xs hide-md class="toolbar-button" aria-label="Search" hide>
      <i class="material-icons">search</i>
    </md-button>
    <md-button hide-sm class="toolbar-button" aria-label="Notifications" hide>
      <i class="material-icons">notifications</i>
      <span class="notifications-label">7</span>
    </md-button>
    -->

    <md-button hide show-xs ng-click="vm.toggleItemsList()" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>

    <md-menu md-offset="0 55">
      <md-button class="toolbar-button" ng-click="$mdOpenMenu()" aria-label="Open menu">
        <i class="material-icons">account_circle</i>
        <!--<span hide-xs>Richard Feynman</span>-->
        <span class="orig-case" hide-xs ng-if="currentUser">{{currentUser.username}}</span>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="$mdCloseMenu()" ui-sref="home.profile">Profile</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$mdCloseMenu()" ui-sref="home.dashboard">Log out</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </md-toolbar>

  <!-- Top bar end -->

  <div layout="row" flex>
    <!-- Left nav begin -->
    <md-sidenav md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" show hide="vm.title=='Projects'"
                class="md-whiteframe-z2 md-sidenav-left" md-theme="dark">

      <!-- Static Menu items -->
      <div ng-repeat-start="item in vm.menuItems[0].static" layout="column" layout-align="start stretch">
        <md-button layout="row" layout-align="space-between center" class="capitalize"
                   ng-click="vm.selectItem(item)" ui-sref="{{item.sref}}">
       <span>
         <i hide-sm class="material-icons md-24">{{item.icon}}</i>
         {{item.name}}
       </span>
        </md-button>
      </div>
      <md-divider ng-repeat-end></md-divider>
      <!-- end Static Menu items -->

      <!-- Menu items -->
      <div ng-repeat-start="item in vm.menuItems[0].server" layout="column" layout-align="start stretch">
        <md-button layout="row" layout-align="space-between center" class="capitalize"
                   ng-click="item.expanded=!item.expanded" ng-click="vm.selectItem(item)"
                   ui-sref="{{item.sref}}">
       <span>
         <i hide-sm class="material-icons md-24">{{item.icon}}</i>
         {{item.name}}
       </span>
       <span>
         <i class="material-icons md-24" ng-show="item.expanded&&item.children">expand_less</i>
         <i class="material-icons md-24" ng-hide="item.expanded||!item.children">expand_more</i>
       </span>

        </md-button>

        <div layout="column" layout-align="start stretch"
             ui-sref-active="md-warn"
             ng-show="item.expanded">
          <md-button ng-repeat="child in item.children" ui-sref="{{child.sref}}"
                     class="capitalize" ng-click="vm.toggleItemsList()"
                     flex-offset="20" layout="row" layout-align="start center">
            {{child.name}}
          </md-button>
        </div>
      </div>
      <md-divider ng-repeat-end></md-divider>
      <!-- end Menu items -->

      <!--
      <md-button ng-click="vm.showActions($event)" layout-align="center center">
        <div class="md-tile-content">
          Actions
        </div>
      </md-button>
      -->
    </md-sidenav>
    <!-- Left nav end -->

    <!-- Content begin -->
    <md-content flex class="md-padding page-content">
      <div ui-view></div>
    </md-content>
    <!-- Content end -->
  </div>
</div>

<!-- Right pop-out begin-->
<md-sidenav md-component-id="right" class="md-whiteframe-z2 md-sidenav-right">
  <md-toolbar>
    <md-toolbar class="md-warn" layout="row" layout-align="center center">
      <img class="img-circle" ng-src="/images/feynman.jpg">
      <md-menu md-offset="0 20">
        <md-button class="capitalize" ng-click="$mdOpenMenu()" aria-label="Open menu">
          <span>Richard Feynman</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="$mdCloseMenu()" ui-sref="home.profile">Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="$mdCloseMenu()" ui-sref="home.dashboard">Log out</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-toolbar>
  </md-toolbar>

  <section>
    <md-toolbar md-theme="grey" class="md-hue-1">
      <div class="md-toolbar-tools">
        <h3>Messages</h3>
      </div>
    </md-toolbar>
    <div ng-include src="'app/views/partials/messages.html'"/>
  </section>
</md-sidenav>
<!-- Right pop-out end -->

<div login-dialog></div>
