<div layout="column" flex>
  <!-- Top bar begin -->
  <md-toolbar layout="row" layout-align="space-between stretch">
    <div ui-sref="home.projects" layout="row" layout-align="start center" class="capitalize logo-box" hide-xs>
      <img class="sb-logo detail sb-48px">
      <h1> StackButton</h1>
    </div>

    <!--Top Project Selector -->
    <md-menu layout="row" layout-align="start center" flex="20" md-position-mode="target-right target" >
      <md-button ng-click="$mdOpenMenu()" style="width:100%" class="md-primary" >
        <span>Project Selector</span>
        <i class="material-icons">arrow_drop_down</i>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button>Project One</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <!-- end Top Project Selector -->

    <!--  push project selector to the left -->
    <div flex="50"></div>

    <!-- user options selector -->
    <md-button hide show-xs ng-click="vm.toggleItemsList()" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>

    <div layout="row" layout-align="start center">
      <md-menu>
        <md-button ng-click="$mdOpenMenu()" aria-label="Open menu" class="toolbar-button">
          <span class="orig-case" hide-xs>{{ currentUser==null ? 'unknown' : currentUser.username }}</span>
          <i class="material-icons">account_circle</i>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="$mdCloseMenu()" ui-sref="home.profile">Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="logOut()">Log out</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <!-- user options selector -->
  </md-toolbar>
  <!-- end Top bar  -->


  <div layout="row" flex>

    <!-- Left nav begin -->
    <md-sidenav md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left"
                md-theme="dark">

      <!--Project selector -->
      <div class="fixed-height-widget" layout="column" ng-hide="currentProject==null">
          <md-button ui-sref="home.projects" layout="row" layout-align="start center">
            <i class="dash-widget-topbar-text material-icons" flex="33">navigate_before</i>
            <span>Projects</span>
          </md-button>

          <md-toolbar class="md-accent" layout="row" layout-align="space-between center">
           <span style="width:100%" class="md-body-1 capitalize" layout-padding>
             {{currentProject.name}}
           </span>
          <md-button class="toolbar-button" aria-label="Edit project" ui-sref="home.editproject"
                     ng-click="select(project)">
            <i class="dash-widget-topbar-text material-icons">mode_edit</i>
          </md-button>
        </md-toolbar>

        <p layout-padding>
          {{currentProject.description}}
        </p>
      </div>
      <md-divider></md-divider>
      <!-- end Project selector -->

      <!-- Menu items -->
        <div layout="column" layout-align="center start" ng-hide="currentProject==null">

          <!-- Dashboard Button -->
          <div layout="row" layout-align="space-between center">
            <span class="leftnav-color-indent-item"></span>
            <md-button>
              <span>Dashboard</span>
            </md-button>

            <!-- add Dashboard -->
            <md-button style="min-width: 1px">
              <i class="material-icons">add</i>
            </md-button>
          </div>

          <!-- separate buttons-->
          <md-divider></md-divider>

          <!-- sub dashboards 1/2 -->
            <div layout="row" layout-align="start center">
              <span class="leftnav-color-indent-sub"></span>
              <md-button>
                <span>Dashboard 1</span>
              </md-button>
            </div>

            <div layout="row" layout-align="start center">
              <span class="leftnav-color-indent-sub"></span>
              <md-button>
                <span>Dashboard 2</span>
              </md-button>
            </div>
          <!-- end sub dashboards -->

          <!-- separate buttons-->
          <md-divider></md-divider>

          <!-- Module Button -->
          <div layout="row" layout-align="start center">
            <span class="leftnav-color-indent-item"></span>
            <md-button>
              <span>Modules</span>
            </md-button>
          </div>

          <!-- separate buttons-->
          <md-divider></md-divider>

          <!-- Service Button -->
          <div layout="row" layout-align="start center">
            <span class="leftnav-color-indent-item"></span>
            <md-button>
              <span>Services</span>
            </md-button>
          </div>

          <!-- separate buttons-->
          <md-divider></md-divider>
        </div>
    </md-sidenav>
    <!-- Left nav end -->

    <!-- Content begin -->
    <md-content flex class="page-content" layout="row">
      <div flex="grow" style="position:relative">
        <span ng-class="{'hide-xs': vm.showActivities}">
          <div ui-view></div>
        </span>
        <!-- Drawer Button-->
        <md-button class="toolbar-button md-raised md-primary md-no-ink"
                   style="position:absolute;top:0;right:-8px;"
                   ng-click="vm.toggleRightSidebar()" aria-label="Open activity feed">
          <i class="material-icons">{{vm.showActivities==true ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</i>
        </md-button>
      </div>

      <!-- Right pop-out begin-->
      <md-sidenav md-component-id="right" md-is-locked-open="vm.showActivities==true"
                  class="md-whiteframe-z2 md-sidenav-right">
        <div ng-include="'app/views/partials/activities.html'"/>
      </md-sidenav>
      <!-- Right pop-out end -->
    </md-content>
    <!-- Content end -->
  </div>
</div>


<!-- old menu item -->
<!--
<div ng-repeat-start="item in vm.menuItems[0].server" layout="column" layout-align="start stretch">
<md-button layout="row" layout-align="space-between center" class="capitalize"
           ng-click="item.expanded=!item.expanded" ng-click="vm.selectItem(item)"
           ui-sref="{{item.sref}}">
<span>
<i hide-sm class="material-icons md-24">{{item.icon}}</i>
{{item.name}}
</span>
<span>
<i class="material-icons md-24" ng-show="item.expanded&&item.children">expand_less</i>
<i class="material-icons md-24" ng-hide="item.expanded||!item.children">expand_more</i>
</span>

</md-button>

<div layout="column" layout-align="start stretch"
     ui-sref-active="md-warn"
     ng-show="item.expanded">
  <md-button ng-repeat="child in item.children" ui-sref="{{child.sref}}"
             class="capitalize" ng-click="vm.toggleItemsList()"
             flex-offset="20" layout="row" layout-align="start center">
    {{child.name}}
  </md-button>
</div>
</div>
-->
<!-- end old Menu items -->
