<!-- Temp storing fake project names in here for deving ui -->
<div ng-app=""
     ng-init="projects=[
      {name:'FirstOne'},
      {name:'SecondOne'},
      {name:'ThirdOne'},
      {name:'youcanjust'},
      {name:'addasmany'},
      {name:'projects as'},
      {name:'youd like'}
      ]">

  <md-button class="md-raised" ui-sref="home.create">New Project</md-button>

  <div layout="row" layout-wrap id="projects">
    <project-card ng-repeat="project in projects"
                  title={{project.name}}
                  template="app/views/partials/projectcard.html"
                  flex="none"
                  class="fixed-width">
    </project-card>
  </div>

  <!--
  <md-dialog aria-label="Create Project"  >
    <md-dialog-content>
      <create-project>
        There is a Directive that this is pulling the content from
        The idea is to place this within a material design "Dialog" popup later in time
      </create-project>
    </md-dialog-content>
  </md-dialog>
  -->

</div>

