<!--




 The below md-card elements are repeated to show that the grid scales them acording to the number
 of items inside of each grid 'box' :)


    //TO BE HOOKED UP INTO NG-REPEAT OR SOMETHING  :) :) :)

-->
<div layout-margin class="md-padding" layout-align="center center">
  <md-grid-list
    md-cols-xs="1"
    md-cols-sm="2"
    md-cols-md="4"
    md-cols-gt-md="6"
    md-row-height-gt-md="1:1"
    md-row-height="2:2"
    md-gutter="12px"
    md-gutter-gt-sm="8px" >

    <md-grid-tile class="green">
      <!-- Title of grid element -->
      <md-grid-tile-header>
        <h3>Source Control</h3>
      </md-grid-tile-header>

      <!-- Content of grid element -->
      <!-- Repeated for demonstration -->
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>

      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>

      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>

    </md-grid-tile>

    <md-grid-tile class="green">
      <!-- Title of grid element -->
      <md-grid-tile-header>
        <h3>Issue Tracking</h3>
      </md-grid-tile-header>

      <!-- Content of grid element -->
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
    </md-grid-tile>

    <md-grid-tile class="green">
      <!-- Title of grid element -->
      <md-grid-tile-header>
        <h3>Wiki</h3>
      </md-grid-tile-header>

      <!-- Content of grid element -->
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
    </md-grid-tile>

    <md-grid-tile class="green">
      <!-- Title of grid element -->
      <md-grid-tile-header>
        <h3>Hosting</h3>
      </md-grid-tile-header>

      <!-- Content of grid element -->
      <md-card>
        <img src="/images/stacky500p.png">
      </md-card>
    </md-grid-tile>

  </md-grid-list>
</div>
