<div ng-app="" ng-init="newposts=[
  {
   number :'#1' ,
   text :'Connect to blank',
   priority :'dash-widget-priority-color-normal'
  },
  {
   number :'#2',
   text :'Link to pages',
   priority :'dash-widget-priority-color-important'
   },
   {
   number :'#3',
   text :'Display info',
   priority :'dash-widget-priority-color-critial'
   }
  ]">
</div>
<div ng-app="" ng-init="oldposts=[
  {
  number :'#54',
  text :'old post',
  priority :'dash-widget-priority-color-other'

}]"></div>

<!-- Commits Widget design -->
<section class="md-whiteframe-z1 panel-widget" style="max-width: 400px; min-height: 200px; ">
  <div class="md-title color-inherit dash-widget-topbar" layout="row" layout-align="space-between start">
    <span class="dash-widget-topbar-text" layout-padding>Issues</span>
  </div>
  <div layout="row" layout-align="space-between center" ng-controller="RepositoryController as vm"
       ng-init="vm.currentCommit=0">
    <i class="material-icons md-24" ng-click="vm.currentCommit = vm.currentCommit-1">chevron_left</i>
    <div layout="column" layout-align="start center" ng-repeat="commit in vm.commits" ng-hide="$index!=vm.currentCommit">
      <div layout="column" layout-align="center start">
        <span class="dash-widget-font" style="word-break: break-all;"><i>{{commit.commit.message}}</i></span>
        <br>
        <span class="dash-widget-text"><b>Date:</b> {{commit.commit.author.date}}</span>
        <span class="dash-widget-text"><b>Author:</b> {{commit.author.login}}</span>
        <!--<span>Files modified: coming soon</span>-->
        <br>
      </div>
    </div>
    <i class="material-icons md-24" ng-click="vm.currentCommit=vm.currentCommit+1">chevron_right</i>
  </div>
</section>
<!-- end of Commits Widget design -->



<div layout="row" layout-align="center start" layout-wrap>
  <div layout="row" layout-align="start start" layout-wrap ng-repeat="widget in vm.widgets">
    <panel-widget flex widget="widget"></panel-widget>
  </div>
</div>
<div layout="column" layout-align="end end" >
  <md-button class="md-fab" ui-sref="home.addwidget">
    <i class="material-icons md-24">add</i>

  </md-button>
</div>
