<div class="row row-cards-pf">
  <div class="col-md-8">
    <div class="card-pf card-pf-utilization">
      <div class="card-pf-heading">
        <p class="card-pf-heading-details">Last 30 days</p>
        <h2 class="card-pf-title">
          Utilization
        </h2>
      </div>
      <div class="card-pf-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h3 class="card-pf-subtitle">CPU</h3>
            <p class="card-pf-utilization-details">
              <span class="card-pf-utilization-card-details-count">50</span>
              <span class="card-pf-utilization-card-details-description">
                   <span class="card-pf-utilization-card-details-line-1">Available</span>
                   <span class="card-pf-utilization-card-details-line-2">of 1000 MHz</span>
                 </span>
            </p>
            <div id="chart-pf-donut-1"></div>
            <div class="chart-pf-sparkline" id="chart-pf-sparkline-1"></div>
            <script>

            </script>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h3 class="card-pf-subtitle">Memory</h3>
            <p class="card-pf-utilization-details">
              <span class="card-pf-utilization-card-details-count">256</span>
              <span class="card-pf-utilization-card-details-description">
                   <span class="card-pf-utilization-card-details-line-1">Available</span>
                   <span class="card-pf-utilization-card-details-line-2">of 432 GB</span>
                 </span>
            </p>
            <div id="chart-pf-donut-2"></div>
            <div class="chart-pf-sparkline" id="chart-pf-sparkline-2"></div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h3 class="card-pf-subtitle">Network</h3>
            <p class="card-pf-utilization-details">
              <span class="card-pf-utilization-card-details-count">200</span>
              <span class="card-pf-utilization-card-details-description">
                   <span class="card-pf-utilization-card-details-line-1">Available</span>
                   <span class="card-pf-utilization-card-details-line-2">of 1300 Gbps</span>
                 </span>
            </p>
            <div id="chart-pf-donut-3"></div>
            <div class="chart-pf-sparkline" id="chart-pf-sparkline-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
