<div>
  <div style="background:mediumpurple">
    <div *ngIf="podData">
      <p>Deployment Config: <a>{{deploymentConfig}}</a> - {{daysSinceCreation}} days ago</p>
      <div *ngFor="let container of containers" style="background:yellow; padding-left: 2em;">
        <p>Container: {{container.name.toUpperCase()}}</p>
        <p><span class="pficon-image"></span> Image: {{container.image}}</p>
        <p><span class="pficon-trend-up"></span> Ports: <span *ngFor="let port of container.ports">{{port.containerPort}}/{{port.protocol}}, </span></p>
      </div>
    </div>
    <div *ngIf="!podData">
      <span class="fa fa-spinner fa-spin"></span>Loading Pod Data...
    </div>
  </div>
</div>
