<div>
  <div>
    <div *ngIf="podData">
      <p>Deployment Config: <a>{{deploymentConfig}}</a> - {{daysSinceCreation}} days ago</p>

      <div *ngFor="let container of containers" class="c3i-indent">
        <p>Container: {{container.name.toUpperCase()}}</p>
        <div class="c3i-grey-indent">
        <p>
          <span class="pficon-image c3i-r-pad"></span> Image: {{container.image}}
        </p>
        <p>
          <span class="pficon-trend-up c3i-r-pad"></span> Ports: <span *ngFor="let port of container.ports">{{port.containerPort}}/{{port.protocol}}, </span>
        </p>
        </div>
      </div>
    </div>
    <div *ngIf="!podData">
      <span class="fa fa-spinner fa-spin"></span>Loading Pod Data...
    </div>
  </div>
</div>
