<!--
Todo: This component needs porting from angular to angular 2.

http://www.patternfly.org/pattern-library/cards/trend-card/#/code
-->

<div class="col-xs-6 col-sm-4 col-md-4">
  <div class="card-pf card-pf-accented card-pf-aggregate-status">
    <div class="ChartCtrl">
      <label class="label-title">Card With Single Trend</label>
      <div pf-card head-title="Cluster Utilization" show-top-border="true" footer="footerConfig" filter="filterConfig" style="width: 50%">
        <div pf-trends-chart config="configSingle" chart-data="dataSingle">
        </div>
      </div>
    </div>
  </div>
</div>
