<app-navigation></app-navigation>
<!-- The Status-Board body -->
<body>
  <div class="cards-pf" >
    <div class="container-fluid container-cards-pf" >
      <div class="row row-cards-pf">

        <!-- <utilization-card-bar></utilization-card-bar> -->
        <app-commit-widget></app-commit-widget>
        <app-issues-card></app-issues-card>

      </div>
      <div class="row row-cards-pf">
        <app-utilization-card></app-utilization-card>
      </div>

    </div><!-- /container -->
  </div>
</body>

