<app-splash-page></app-splash-page>
<div>
  <p>Landing Page!</p>
  <p>Let's talk about StackButton using PatternFly and graphics.</p>
  <p>Offer "Log In" and "Registration" buttons if not logged in, otherwise offer a "go to dashboard link"?</p>
  <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
  <button class="btn btn-primary" [routerLink]="['/register']">Register</button>
  <button class="btn btn-primary" [routerLink]="['/dashboard']">Dashboard</button>
  <button class="btn btn-primary" [routerLink]="['/status-board']">Status-Board</button>
</div>
