
<div>
  <p>Landing Page!</p>
  <p>Let's talk about StackButton using PatternFly and graphics.</p>
  <p>Offer "Log In" and "Registration" buttons if not logged in, otherwise offer a "go to dashboard link"?</p>
  <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
  <button class="btn btn-primary" [routerLink]="['/register']">Register</button>
  <button class="btn btn-primary" [routerLink]="['/dashboard']">Dashboard</button>
  <p>To do...</p>
  <ul>
    <li>Have the login page redirect to dashboard on successful login</li>
    <li>Have the logout button logout appropriately instead of handing it off the the login page to do</li>
    <li>Add a user information page to see and edit info</li>
    <li>Patternfly it up</li>
    <li>Fake backend needs to get replaces with mongo</li>
    <li>Dashboard menu items</li>
  </ul>
</div>
