<div flex="grow" layout="column" layout-align="center stretch" ng-controller="RepositoryController as vm"
     ng-init="vm.currentCommit=0">

  <!-- Loading indicator-->
  <div ng-if="vm.commits.length==0" layout="column" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <!-- Arrow Buttons -->
  <!-- ng-hide/show to hide buttons until contains have loaded -->
  <div layout layout-align="space-between center" ng-if="vm.commits.length>0">
    <md-button class="material-icons md-icon-button"
               ng-disabled="vm.currentCommit==0"
               ng-click="vm.currentCommit = vm.currentCommit-1">chevron_left
    </md-button>
    <span class="md-caption">{{vm.repoName}}</span>
    <md-button class="material-icons md-icon-button"
               ng-disabled="vm.currentCommit==vm.commits.length-1"
               ng-click="vm.currentCommit=vm.currentCommit+1">chevron_right
    </md-button>
  </div>


  <div ng-repeat="commit in vm.commits" ng-show="$index==vm.currentCommit"
       layout="column" layout-align="start start">

    <!-- Author section -->
    <div class="dash-widget-text" layout layout-padding>
      <img style="height: 3em; width: 3em;" src={{commit.author.avatar_url}}>
      <span layout="column" layout-align="start start">
        <b>By:
          <span class="dash-widget-font">{{commit.author.login}}</span>
        </b>
        <span class="md-caption">{{commit.commit.author.date | date : "M/dd/yyyy',' h:mma"}}</span>
      </span>
      <!--<span>Files modified: coming soon</span>-->
    </div>

    <!-- Commit message -->
    <pre layout-padding class="dash-widget-font md-body-1"
         style="white-space:pre-wrap;word-break:break-word;min-height:3em; margin:0;">{{commit.commit.message}}</pre>

  </div>


</div>
