<div ng-controller="RepositoryController as vm">
<md-divider></md-divider>
  <!-- scope for vm -->
  <div layout="row" layout-align="start center" ng-repeat="rep in vm.repository" >
    <span class="md-title " layout-padding>{{rep.repository}}: {{rep.type}}</span>
    <span class="md-bar2"></span>
  </div>
  <div layout="row" layout-align="start center" ng-repeat="person in vm.contributors" >
    <i class="material-icons md-48">account_circle</i>
    <div layout-padding="">
      <span class="md-title">{{person.name}}</span>
      <div layout="column" layout-align="start start">
        <span>Commits: {{person.amount}}</span>
      </div>
    </div>
  </div>
  <!-- end of scope for vm -->
</div>
