<div flex="grow" layout="column" layout-align="start stretch">

  <!-- Open Dropdown row -->
  <div layout="column" layout-align="start stretch" ng-init="newposts=[{number :'#1' ,text :'Gather contact information for team members',priority :'github-labels-help_wanted'},{number :'#2',text :'Create Stackbutton Slack account',priority :'github-labels-bug'},{number :'#3',text :'Intro meeting',priority :'github-labels-enhancement'}]">
    <!-- open button -->
    <md-button  layout="row" layout-align="space-between center" ng-click="showNew=!showNew">
      <span layout="row" class="dash-widget-font"> Open:
        <div class="notifications-label-issues">{{newposts.length}}</div>
      </span>
      <i class="material-icons md-24">{{showNew==true ?'expand_less':'expand_more'}}</i>
    </md-button>

    <!-- Open Issue message -->
    <div  layout="row" layout-align="space-between center" ng-show="showNew" ng-repeat="post in newposts">
      <!-- priority bar -->
      <img class="{{post.priority}}">
      <!-- Message -->
      <p layout-padding class="dash-widget-text message-issues-wrap">{{post.number}} {{post.text}}</p>
      <!-- Side nav icon -->
      <md-menu>
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Open issue menu">
          <i class="material-icons">format_align_justify</i>
        </md-button>
        <!-- pop out menu -->
        <md-menu-content>
          <md-menu-item>
            <md-button class="md-warn md-raised" ng-click="doSomething()">Resolve</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="doSomething()">Goto</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

  </div>


  <!-- Closed Dropdown row -->
  <div layout="column" layout-align="start stretch" ng-init="oldposts=[{number :'#54',text :'Invite team members to repo',priority :'github-labels-question'}]">
    <!-- button -->
    <md-button layout="row" layout-align="space-between center" ng-click="showOld=!showOld">
      <span layout="row" class="dash-widget-font"> Closed:
        <div class="notifications-label-issues">{{oldposts.length}}</div>
      </span>
      <i class="material-icons md-24">{{showOld==true ?'expand_less':'expand_more'}}</i>
    </md-button>

    <!-- Closed Issue messages -->
    <div layout="row" layout-align="space-between center" ng-show="showOld" ng-repeat="post in oldposts">
      <!-- priority bar -->
      <img class="{{post.priority}}">
      <!-- Message -->
      <p layout-padding class="dash-widget-text message-issues-wrap">{{post.number}} {{post.text}}</p>
      <!-- Side nav icon -->
      <md-menu>
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Open issue menu">
          <i class="material-icons">format_align_justify</i>
        </md-button>
        <!-- Pop out menu -->
        <md-menu-content>
          <md-menu-item>
            <md-button class="md-warn md-raised" ng-click="doSomething()">Resolve</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="doSomething()">Goto</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>

</div>
