<md-card md-whiteframe="24">
  <!--StackButton toolbar with button back to landing -->
  <div>
    <md-toolbar class="md-hue-3" md-theme="grey" md-tall layout="row" layout-align="center center">
      <div layout="row" layout-align="center center">
        <img class="sb-logo detail sb-48px" ui-sref="welcome"/>
        <h2>StackButton</h2>
      </div>
    </md-toolbar>
  </div>

  <md-divider></md-divider>

  <!-- Login form -->
  <form name="loginForm">
    <md-card-title>
      <span class="md-headline">Login</span>
    </md-card-title>

    <!-- Error message -->
    <md-card-content class="md-warn" ng-if="vm.login.error">{{vm.login.error}}</md-card-content>

    <md-card-content layout-xs="column" layout="row" layout-align="space-around center">

      <!-- Username/email box -->
      <md-input-container>
        <label for="userName">Username</label>
        <input id="userName" type="text" name="text" ng-model="vm.login.user" required md-autofocus>
        <div ng-messages="loginForm.userName.$error">
          <div ng-message="required">Username is required</div>
        </div>
      </md-input-container>

      <!-- Password box -->
      <md-input-container>
        <label for="userPass">Password</label>
        <input id="userPass" name="userPass" type="password" ng-model="vm.login.password" required>
        <div ng-messages="loginForm.userPass.$error">
          <div ng-message="required">Password is required</div>
        </div>
      </md-input-container>

    </md-card-content>

    <!-- Buttons-->
    <md-card-actions layout-xs="column" layout="row" layout-align="space-between center">
      <div flex-order-xs="2" >
        <md-button ui-sref="account.register" class="button">No account?</md-button>
        <md-button ui-sref="welcome" class="button">Forgot Password?</md-button>
      </div>
      <md-button ng-click="vm.authenticate(vm.login.user,vm.login.password)"
                 class="md-raised md-cornered md-primary">Login
      </md-button>
    </md-card-actions>
  </form>
</md-card>
