<md-button ui-sref="home.projects" layout="row" layout-align="start center">
  <i class="dash-widget-topbar-text material-icons">navigate_before</i>
  <span>Projects</span>
</md-button>
<!--Project indicator -->
<div layout="column" ng-hide="currentProject==null">
  <md-toolbar class="md-accent" layout="column">
           <span layout layout-align="space-between center">
             <span class="md-body-2" layout-padding>{{currentProject.name}}</span>
             <md-button class="md-icon-button" aria-label="Edit project" ui-sref="home.editproject"
                        ng-click="select(project)">
               <i class="dash-widget-topbar-text material-icons">mode_edit</i>
             </md-button>
           </span>
    <md-divider></md-divider>
    <span class="md-body-1" layout-padding>{{currentProject.description}}</span>
  </md-toolbar>

</div>
<md-divider></md-divider>
<!-- end Project indicator -->

<!-- Menu items -->
<div layout="column" ng-hide="currentProject==null">

  <!-- Dashboard Button -->
  <div layout="row">
    <div class="leftnav-color-indent-item"></div>
    <md-button layout>Dashboards</md-button>
    <!-- add Dashboard -->
    <span flex></span>
    <md-button class="md-icon-button"><i class="material-icons">add</i></md-button>
  </div>

  <!-- separate buttons-->
  <md-divider></md-divider>

  <!-- sub dashboards -->
  <div layout="row" ng-repeat="dashboard in currentProject.dashboards">
    <div class="leftnav-color-indent-item"></div>
    <div class="leftnav-color-indent-sub"></div>
    <md-button layout="row" layout-align="start center"
               ui-sref="home.dashboard({dashboardId:currentProject.dashboards[0].id})">{{dashboard.name}}
    </md-button>
  </div>
  <!-- end sub dashboards -->

  <!-- separate buttons-->
  <md-divider></md-divider>

  <!-- Module Button -->
  <div layout="row">
    <div class="leftnav-color-indent-item"></div>
    <md-button layout>Modules</md-button>
  </div>

  <!-- separate buttons-->
  <md-divider></md-divider>

  <!-- Service Button -->
  <div layout="row">
    <div class="leftnav-color-indent-item"></div>
    <md-button layout ui-sref="home.servicesconfig">Services</md-button>
  </div>

  <!-- separate buttons-->
  <md-divider></md-divider>

  <!-- Team Button -->
  <div layout="row">
    <div class="leftnav-color-indent-item"></div>
    <md-button layout ui-sref="home.team">Team</md-button>
  </div>

  <!-- separate buttons-->
  <md-divider></md-divider>
</div>
