<md-divider></md-divider>
  <div layout="row" layout-align="space-between center">
    <md-button class="md-raised md-24" style="min-width: 15px">
      <i class="material-icons md-24">chevron_left</i>
    </md-button>
    <div layout="column" layout-align="center center">
      <h3>Description</h3>
      <div layout="column" layout-align="end start">
        <span class="md-subhead">Date: 2016-04-22, 19:23</span>
        <span class="md-subhead">Author: blah blah</span>
        <span class="md-subhead">Files modified: 4</span>
      </div>
    </div>
    <md-button class="md-raised" style="min-width: 15px">
      <i class="material-icons md-24">chevron_right</i>
    </md-button>
  </div>
