<div ng-controller="RepositoryController as vm">
<md-divider></md-divider>
  <div layout="row" layout-align="space-between center" ng-repeat="commit in vm.commits" >
      <i class="material-icons md-24" >chevron_left</i>
    <div layout="column" layout-align="center center">
      <h3>{{commit.description}}</h3>
      <div layout="column" layout-align="end start">
        <span class="md-subhead">Date: {{commit.date}}</span>
        <span class="md-subhead">Author: {{commit.author}}</span>
        <span class="md-subhead">Files modified: {{commit.files}}</span>
      </div>
    </div>
      <i class="material-icons md-24">chevron_right</i>
  </div>
</div>
