<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Main Title</h1>
      </div>
      <div class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
          <i class="fa fa-rocket"></i>
        </div>
        <h1>You have nothing to see.</h1>
        <p>Stackbutton collects information from APIs. Unfortunately you don't have any right now but you can add some API keys and a bit of information about the service to help track and categorize the information that you get from the service.</p>
        <p>Learn more about the process <a href="#">from our GitHub wiki.</a>.</p>
        <div class="blank-slate-pf-main-action">

          <button id="mainAction" class="btn btn-primary btn-lg" (click)="mainAction($event)">Add a Service</button>
          <pf-tooltip #pfTooltip placement="right" targetselector="#mainAction">
            {{tooltipText}}
          </pf-tooltip>
        </div>
        <div class="blank-slate-pf-secondary-action">
          <button class="btn btn-default">
            Secondary Action
          </button>
          <button class="btn btn-default">
            Secondary Action
          </button>
          <button class="btn btn-default">
            Secondary Action
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
